.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.header-container{
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #10239e;
}

.header-left-container{
  display: inline-block;
}

.header-right-container{
  display: inline-block;
  float: right;
  /* background-color: aqua; */
}

.header-brand{
  display: inline-block;
}
.header-search{
  display: inline-block;
  margin-left: 10px;
}
.header-profile{
  color: #ffffff;
  font-weight: bold;
  display: inline-block;
  vertical-align: top;
  margin-top:2px;
  height: 100%;
  /* background-color: #ffffff; */
}
.header-profile-text{
  margin-left: 10px;
  /* background-color: darkgoldenrod; */
}
.header-home-text{
  color: #ffffff;
  font-weight: bold;
  display: inline-block;
  margin-left: 20px;
  vertical-align: middle;
  margin-bottom: 10px;
  /* background-color: darkgoldenrod; */
}

.header-friend-request{
  font-size: 24px; /*used for icon size*/
  display: inline-block;
  margin-left: 20px;
}

.header-message{
  font-size: 24px; /*used for icon size*/
  display: inline-block;
  margin-left: 20px;
}

.header-notification{
  font-size: 24px; /*used for icon size*/
  display: inline-block;
  margin-left: 20px;
}

.micro-fb-card{
  background-color: #ffffff;
  color: black;
}

.micro-fb-card-title{
  text-align: center;
  margin-top: 10px;
  /* margin-bottom: 10px; */
  border: 1px solid black;
}
.micro-fb-card-content-list{
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;

}